<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.comercial.fulp" version="1.0.0">
  <name>Gestion Comercial FULP</name>
  <description>Aplicación para la gestión de los Comerciales de la FULP</description>
  <author href="http://fulp.es" email="webmaster@fulp.es">Fundación Universitaria de Las Palmas</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="default"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="false" />
  <preference name="android-windowSoftInputMode" value="stateVisible" />
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="true"/>
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  <!--<preference name="StatusBarOverlaysWebView" value="false" />
  <preference name="StatusBarBackgroundColor" value="#E9530D" />-->
  <preference name="StatusBarOverlaysWebView" value="true" /> 
	<preference name="StatusBarBackgroundColor" value="#E9530D" />
	<preference name="StatusBarStyle" value="lightcontent" />
  <!--Plugin de notificaciones
  <gap:plugin name="com.phonegap.plugins.pushplugin"/>-->
  <plugin name="cordova-plugin-statusbar" source="npm" />
  <!--<gap:plugin name="org.apache.cordova.battery-status"/>-->
  <!--<gap:plugin name="org.apache.cordova.camera"/>-->
  <!--<gap:plugin name="org.apache.cordova.media-capture"/>-->
  <!--<gap:plugin name="org.apache.cordova.console"/>-->
  <!--<gap:plugin name="org.apache.cordova.contacts"/>-->
  <plugin name="cordova-plugin-device" source="npm"/>
  <!--<gap:plugin name="org.apache.cordova.device-motion"/>-->
  <!--<gap:plugin name="org.apache.cordova.device-orientation"/>-->
  <!--<gap:plugin name="org.apache.cordova.dialogs"/>-->
  <!--<gap:plugin name="org.apache.cordova.file"/>-->
  <!--<gap:plugin name="org.apache.cordova.file-transfer"/>-->
  <!--<gap:plugin name="org.apache.cordova.geolocation"/>-->
  <!--<gap:plugin name="org.apache.cordova.globalization"/>-->
  <!--<gap:plugin name="org.apache.cordova.inappbrowser"/>-->
  <!--<gap:plugin name="org.apache.cordova.media"/>-->
  <!--<gap:plugin name="org.apache.cordova.network-information"/>-->
  <!--<gap:plugin name="org.apache.cordova.splashscreen"/>-->
  <!--<gap:plugin name="org.apache.cordova.vibration"/>-->
  <!--<icon src="icon.png" gap:platform="android"/>
  <icon src="icon2.png" gap:platform="ios"/>-->
  <plugin name="cordova-plugin-whitelist" source="npm"/>
  
  <icon src="icon.png"/>
  
  <platform name="android">
  <icon src="www/res/icon/android/icon-36.png" density="ldpi"/>
  <icon src="www/res/icon/android/icon-48.png" density="mdpi"/>
  <icon src="www/res/icon/android/icon-72.png" density="hdpi"/>
  <icon src="www/res/icon/android/icon-96.png" density="xhdpi"/>
  <splash src="www/res/screen/android/screen-ldpi-portrait.png" density="port-ldpi"/>
  <splash src="www/res/screen/android/screen-mdpi-portrait.png" density="port-mdpi"/>
  <splash src="www/res/screen/android/screen-hdpi-portrait.png" density="port-hdpi"/>
  <splash src="www/res/screen/android/screen-xhdpi-portrait.png" density="port-xhdpi"/>
  </platform>

  <platform name="ios">
  <icon src="www/res/icon/ios/icon-57.png" platform="ios" width="57" height="57"/>
  <icon src="www/res/icon/ios/icon-72.png" platform="ios" width="72" height="72"/>
  <icon src="www/res/icon/ios/icon-76.png" platform="ios" width="76" height="76"/>
  <icon src="www/res/icon/ios/icon-114.png" platform="ios" width="114" height="114"/>
  <icon src="www/res/icon/ios/icon-120.png" platform="ios" width="120" height="120"/>
  <icon src="www/res/icon/ios/icon-144.png" platform="ios" width="144" height="144"/>
  <icon src="www/res/icon/ios/icon-152.png" platform="ios" width="152" height="152"/>
  <splash src="www/res/screen/ios/screen-iphone-portrait.png" platform="ios" width="320" height="480"/>
  <splash src="www/res/screen/ios/screen-iphone-portrait-2x.png" platform="ios" width="640" height="960"/>
  <splash src="www/res/screen/ios/screen-iphone-portrait-568h-2x.png" platform="ios" width="640" height="1136"/>
  <splash src="www/res/screen/ios/screen-ipad-portrait.png" platform="ios" width="768" height="1024"/>
  <splash src="www/res/screen/ios/screen-ipad-landscape.png" platform="ios" width="1024" height="768"/>
  </platform>
  
  <platform name="windows"> 
  <icon src="res/icon/windows-phone/icon-48.png" platform="winphone"/>
  <icon src="res/icon/windows-phone/icon-173.png" platform="winphone" role="background"/>
  <splash src="res/screen/windows-phone/screen-portrait.jpg" platform="winphone"/>
  </platform>
  
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>