/*instrucciones generales*/
* { margin: auto; }
/*cabecera de la página*/
h1 { text-align: center; padding: 0.5em; }
/*div principal del calendario*/
#calendario {  width: 100%; background-color:#fff; text-align: center; padding: 5px !important; }
/*tabla del calendario*/
#diasc {border-collapse:separate; border-spacing: 4px; width: 100%;  min-height: 350px; }
#diasc th,#diasc td { font-size:12px; font-weight: bold; width:14.5%; min-height: 30px; }
#diasc th { text-align:center; color: #E9530D; background-color: #fff }
#diasc td { color: #492736; background-color: #fff;     border: 1px solid; vertical-align: top;}
#diasc td div#diacal{text-align:left; font-size:12px; margin:5px;}
#diasc td div#evcal{text-align:left; font-size:14px; margin-top:10px;}
/*línea de la fecha actual*/
#fechaactual { font-size:12px; font-weight: bold; }
#fechaactual i { cursor: pointer ; }
/*#fechaactual i:hover { color: blue; text-decoration: underline; }*/

/*cabecera del calendario*/ 
#anterior { float: left; width: 100px; font-size: 15px;  font-weight: bold;  padding: 0.5em 0.1em; cursor: pointer ; }
#posterior { float: right; width: 100px; font-size: 15px; font-weight: bold; padding: 0.5em 0.1em; cursor: pointer ;}
#anterior:hover {color: blue;text-decoration: underline;}
#posterior:hover {color: blue; text-decoration: underline;}
#titulos { font-size: 16px;  font-weight: bold; }
#diasc td div#diacal cite{background-color: #E9530D; color: #fff; padding: 5px; border-radius: 15px; font-weight: normal;}