@charset "utf-8";

#contenido { width:100%; min-height:300px; overflow:hidden; padding:0;}
#contenido input{ width:90%; border-radius:10px;}
#contenido #contenedorCita{ text-align:center;}
#contenido #contenedorSesion{ text-align:center;}


#menu-pie { background-color:#E9530D; -webkit-background-size: 100%;  background-size: 100%; position:fixed; bottom:0; left:0;  width:100%; padding:10px; text-align:center; border:0;}
#menu-pie a{ margin:0 3% 0 3%;}
#menu-pie img{ width:50px; height:50px;} 
#menu-pie #mendest, #menu-pie #menaviso, #menu-pie #mencita , #menu-pie #menfav, #menu-pie #meniti{ padding:0; height:50px; width:50px; border-radius:10px; text-align:center; }
#menu-pie #meniniciar img{ width:50px; height:50px;}   

#contenedorSesion {margin:2px;}
#contenedorSesion a#iniciar {background-color:#e9530d; color:#fff;}


.buscador {background-color: #fefefe; padding:5px; border-radius:3px; display: flex;}
.buscador .ui-input-search{width:90%; border-radius: 10px; margin-right:5px;}
.buscador .ui-input-btn {width:3% !important; border-radius: 20px !important; padding:5px; margin: 10px !important;}

#list-empresas {padding:5px; background-color:#f0f3f4;}
#list-empresas .empresa{display:flex; border-top: 1px solid #E9530D; border-bottom: 1px solid #E9530D; padding: 10px;}
#list-empresas .empresa.l1{background-color:#FFAD86;}
#list-empresas .empresa.l2{background-color:#FFF;}
#list-empresas .empresa .nombre-empresa{margin:0 auto 0 0; max-width: 70%; width: 100%;}
#list-empresas .empresa .nif-empresa{margin:0 auto 0 auto; max-width: 20%; width: 100%; text-align: center;}
#list-empresas .empresa .enlace-empresa{margin:0 0 0 auto; max-width: 10%; width: 100%; text-align: center;}